# IDE files
.vscode

# secret(?) assets
_asset
song-assets
skin-assets

# generated skin files
nautica.json
skin.cfg

# any crew that's not the default one, we do not package crew
textures/crew/*
!textures/crew/appeal_card.png
!textures/crew/frame.png
!textures/crew/portrait.png
!textures/crew/make-a-crew/frame_glow.png
!textures/crew/make-a-crew/frame_metal.png
!textures/crew/make-a-crew/instructions.txt
!textures/crew/anim/nothing